@page "/agregarInscripcion/{Id:int?}"
@inject NavigationManager Navegador
@inject AgregarInscripcionUseCase AgregarInscripcionUseCase
@inject GetInscripcionUseCase GetInscripcionUseCase
@inject ModificarInscripcionUseCase ModificarInscripcionUseCase
@inject GetCursosUseCase GetCursosUseCase
@inject GetCursoUseCase GetCursoUseCase
@inject GetEstudiantesUseCase GetEstudiantesUseCase
@inject GetEstudianteUseCase GetEstudianteUseCase

@if (_nuevaInscripcion)
{
    <h1>A침adir inscripci칩n:</h1>    
}else
{
    <h2>Modificando inscripci칩n de @_inscripcion.Estudiante?.Nombre @_inscripcion.Estudiante?.Apellido al curso 
        @_inscripcion.Curso?.Titulo:</h2>
}

@if (_se_creo)
{
    <p class='alert alert-success'> Inscripci칩n creada.</p>
}

@if (_errorSeleccion)
{
    <p class="alert alert-danger">Debe elegir un curso y un estudiante</p>
}

<!--<input placeholder="Ingrese nombre del estudiante" @bind="_inscripcion.Estudiante?.Nombre" class="form-control">
<input placeholder="Ingrese apellido del estudiante" @bind="_inscripcion.Estudiante?.Apellido" class="form-control">
<input type='email' placeholder="Ingrese email" @bind="_inscripcion.Estudiante?.Email" class="form-control">
<input type='number' placeholder="Ingrese DNI" @bind="_inscripcion.Estudiante?.Dni" class="form-control">-->
<label for="estudiante">Elija un estudiante</label>
<select name="estudiante" aria-placeholder="Seleccionar" @bind="_estudianteSeleccionado" class="form-control" required>
    @* INTENTE HACER ALGO MAS LINDO PERO NO SALIO *@
    @foreach (var estudiante in _listaEstudiantes)
    {
        <option value="@estudiante.Id"> 
            <ul>
                <li>DNI:@estudiante.DNI</li><br>
                <li>Nombre y apellido: @estudiante.Nombre @estudiante.Apellido</li><br>
                <li>Email: @estudiante.Mail</li><br>                          
            </ul> 
        </option>        
    }
</select>

<label for="curso">Elija un curso</label>
<select name="curso" aria-placeholder="Seleccionar" @bind="_cursoSeleccionado" class="form-control" required>
    @foreach (var curso in _listaCursos)
    {
        <option value="@curso.Id">@curso.Titulo - @curso.Descripcion - @curso.FechaInicio - @curso.FechaFin</option>        
    }
</select>

@* <input type="hidden" @bind="_inscripcion.FechaInscripcion"  class="form-control"> *@


<!--<input placeholder="Titulo" @bind="_inscripcion.Curso?.Titulo" class="form-control">
<input placeholder="Descripcion" @bind="_inscripcion.Curso?.Descripcion" class="form-control">
<input type="datetime-local" placeholder="Fecha de inicio" @bind="_inscripcion.Curso?.Fecha_inicio" class="form-control">
<input type="datetime-local" placeholder="Fecha de finalizacion" @bind="_inscripcion.Curso?.Fecha_finalizacion" class="form-control">-->

<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code 
{
    Inscripcion _inscripcion= new Inscripcion();
    int _estudianteSeleccionado= -1;
    int _cursoSeleccionado= -1;
    List<Estudiante>? _listaEstudiantes= new List<Estudiante>();
    List<Curso>? _listaCursos= new List<Curso>();
    [Parameter] public int? Id { get; set; }
    bool _nuevaInscripcion = true;
    bool _se_creo = false;
    bool _se_modifico = false;
    bool _errorSeleccion= false;

    protected override void OnInitialized()
    {
        _listaEstudiantes= GetEstudiantesUseCase.Ejecutar();
        _listaCursos= GetCursosUseCase.Ejecutar();
    }
    
    protected override void OnParametersSet()
    {
        if(Id != null)  // se recibe un id en el path
        {
            var inscripcion_hallada = GetInscripcionUseCase.Ejecutar(Id.Value);
            if(inscripcion_hallada != null)
            {
                _inscripcion = inscripcion_hallada; // se recupera una inscripcion para ese id
                _nuevaInscripcion = false;
            }
        }
    }
            
    void Aceptar()
    {
        if((_estudianteSeleccionado != -1) && (_cursoSeleccionado != -1))
        {
            _inscripcion.estudiante_id= _estudianteSeleccionado;
            _inscripcion.Curso_id= _cursoSeleccionado;
            if(_nuevaInscripcion)
            {
                _inscripcion.FechaInscripcion=DateOnly.FromDateTime(DateTime.Now);
                AgregarInscripcionUseCase.Ejecutar(_inscripcion);
                _se_creo = true;
                _inscripcion = new Inscripcion();
                Navegador.NavigateTo("/agregarInscripcion");
            }else
            {
                ModificarInscripcionUseCase.Ejecutar(_inscripcion);
                _se_modifico = true;
                Navegador.NavigateTo($"/listadoInscripciones/{_se_modifico}");
            }
        }else
        {
            _errorSeleccion= true;
        }
        
    }
}