@page "/agregarInscripcion/"
@inject NavigationManager Navegador
@inject AgregarInscripcionUseCase AgregarInscripcionUseCase
@inject GetInscripcionUseCase GetInscripcionUseCase
@inject ModificarInscripcionUseCase ModificarInscripcionUseCase
@inject GetCursosUseCase GetCursosUseCase
@inject GetCursoUseCase GetCursoUseCase
@inject GetEstudiantesUseCase GetEstudiantesUseCase
@inject GetEstudianteUseCase GetEstudianteUseCase

    <h1>Añadir inscripción:</h1>    


@if (_se_creo)
{
    <p class='alert alert-success'> Inscripción creada.</p>
}

@if (_errorSeleccion)
{
    <p class="alert alert-danger">Debe elegir un curso y un estudiante</p>
}


<label for="estudiante">Elija un estudiante</label>
<select name="estudiante" aria-placeholder="Seleccionar" @bind="_estudianteSeleccionado" class="form-control" required>
    @* INTENTE HACER ALGO MAS LINDO PERO NO SALIO *@
    @foreach (var estudiante in _listaEstudiantes)
    {
        <option value="@estudiante.Id"> 
            <ul>
                <li>DNI:@estudiante.DNI</li><br>
                <li>Nombre y apellido: @estudiante.Nombre @estudiante.Apellido</li><br>
                <li>Email: @estudiante.Mail</li><br>                          
            </ul> 
        </option>        
    }
</select>

<label for="curso">Elija un curso</label>
<select name="curso" aria-placeholder="Seleccionar" @bind="_cursoSeleccionado" class="form-control" required>
    @foreach (var curso in _listaCursos)
    {
        <option value="@curso.Id">@curso.Titulo - @curso.Descripcion - @curso.FechaInicio - @curso.FechaFin</option>        
    }
</select>


<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>

@code 
{
    Inscripcion _inscripcion= new Inscripcion();
    int _estudianteSeleccionado= -1;
    int _cursoSeleccionado= -1;
    List<Estudiante>? _listaEstudiantes= new List<Estudiante>();
    List<Curso>? _listaCursos= new List<Curso>();
    bool _se_creo = false;
    bool _errorSeleccion= false;

    protected override void OnInitialized()
    {
        _listaEstudiantes= GetEstudiantesUseCase.Ejecutar();
        _listaCursos= GetCursosUseCase.Ejecutar();
    }
            
    void Aceptar()
    {
        if((_estudianteSeleccionado != -1) && (_cursoSeleccionado != -1))
        {
            _inscripcion.EstudianteId= _estudianteSeleccionado;
            _inscripcion.CursoId= _cursoSeleccionado;
            _inscripcion.FechaInscripcion=DateOnly.FromDateTime(DateTime.Now);
            AgregarInscripcionUseCase.Ejecutar(_inscripcion);
            _se_creo = true;
            _inscripcion = new Inscripcion();
            Navegador.NavigateTo("/agregarInscripcion");
        }else
        {
            _errorSeleccion= true;
        }
        
    }
}